body {
  color: black;
  margin: 0;
  font-family: 'Comfortaa', cursive;;
 
}

p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* NavBar */

nav {
  background-color: rgb(237, 225, 207);
  height: 150px;
}

.logo {
width: 95px;
margin-left: 30px;
margin-top: 40px;
}



ul {
  display: flex;
  flex-direction: column;
  float: right;
}

.navbar-link {
  padding: .15rem;
  text-decoration: none;
  color: black;  
}

section {
  margin-left: 40px;
  padding-bottom: 10px;
}

/* big screen style */
/* .logo {
  width: 150px;
  padding: 10px;

} */




/* Shop Page */

.productsContainer { 
  flex: wrap;

}
.product-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 200px;
}

li {
  list-style: none;
  margin: 20px;
}


.itemList { 
  display: flex;
  justify-content: center;
  text-align: center;
}

.items {
  width: 200px;
  height: 260px;
  margin-top: 50px;
  padding: 25px;
}


button {
  border: none;
  padding: 8px;
  margin-top: 20px;
  cursor: pointer;

}

.submitBtn {
  width: 100%;
  padding: 10px;
}

button:hover {
  color: white;
  background-color: rgb(237, 225, 207);
}

#itemsCount {
  font-size: 10px;
}

/* Our Story */


.about-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.story-img {
 width: 100%;
 height: 50%;
}

.story-para {
  padding: 20px;
}


/* Contact Page */

.contact-us-div {
  width: 80%;
  margin: 0 auto;
}

.contact-us-h3 {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.contact-para {
  padding: 14px;
 
}

fieldset {
  border: none;  
}

input, textarea {
  width: 100%;
  height: 2rem;
  margin: 10px 0 10px 0;
}

textarea {
  height: 4rem;
}


/* Footer */

.footer {
  background-color: rgb(237, 225, 207);
  padding: 40px;
  display: flex;
  justify-content: space-between;
}


.social-media {
  margin: 30px;
}
