body {
  color: black;
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* NavBar */

nav {
  background-color: rgb(237, 225, 207); 
}

.logo {
width: 95px;
margin-left: 20px;
margin-top: 30px;
}

ul {
  display: flex;
  flex-direction: column;
}

.navbar-link {
  padding: .25rem;
  text-decoration: none;
  color: black; 
  font-weight:700;
  font-size: .7rem;
}

#cart-icon-section {
  padding-left: 43px;
  padding-bottom: 10px;
}

/* big screen style */
/* .logo {
  width: 150px;
  padding: 10px;

} */


/* Home Page */

.home-header{
  padding: 10px;
}

.home-img {
  object-fit: cover;
  width: 100%;
  height: 22rem;
}

.home-para{
  margin: 0;
  padding: 10px;
}

.home-readmore-button{
  border: none;
  padding: 8px;
  margin: 10px;
  cursor: pointer;
}

.home-readmore-button:hover {
  color: white;
  background-color: rgb(237, 225, 207);
}


/* Shop Page */

.shop-img {
    width: 200px;
    height: 300px;
    object-fit: "cover";
    margin-bottom: 15px;
}

.product-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 200px;
}

.shop-add-button {
  border: none;
  padding: 8px;
  margin-top: 20px;
  cursor: pointer;

}

.submitBtn {
  width: 100%;
  padding: 10px;
}

.shop-add-button:hover {
  color: white;
  background-color: rgb(237, 225, 207);
}



/* Shopping Cart Page*/

.scrollbar::-webkit-scrollbar {
  width: 18px;
  
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(237, 225, 207);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;

}

.top-cart-section {
  background: #fff;
  padding: 1rem 1.5rem;
  position: sticky;
  top: 0;
}

#cart-header{
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-top: 2rem;
  border-bottom: .1rem solid rgb(237, 225, 207);
}

.cart-x-button {
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  margin-top: .9rem;
  width: 2rem;
  height: 2rem;
  
}

.cart-x-button:hover {
  color: white;
  background-color: rgb(237, 225, 207);
}

.cart-product-info {
  display: flex;
  margin: 1rem;
}

.inside-product-info {
  margin-left: 1rem;
  font-size: .8rem;
}

.cart-img {
  object-fit: cover;
  width: 100px;
  height: 110px;
}

.product-name {
  font-size: .8rem;
  margin-top: 1rem;
}

.cart-button-div {
  margin-top: 10px;
}

.inside-cart-button{
  border: none;
  cursor: pointer;
  padding: 5px;
  margin: 2px;
}

.inside-cart-button:hover {
  color: white;
  background-color: rgb(237, 225, 207);
}

.clear-all-button{
  border: none;
  padding: 5px;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  
}

.clear-all-button:hover {
  color: white;
  background-color: rgb(237, 225, 207);
}


.total-section {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  border-top: .1rem solid rgb(237, 225, 207);
}

.cart-summary {
    background: #fff;
    padding: 1rem 1.5rem;
    position: sticky;
    bottom: 0;

}

.checkout-button {
  border: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.checkout-button:hover {
  color: white;
  background-color: rgb(237, 225, 207);
}

/* Our Story */

.about-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.story-img {
 width: 100%;
 height: 50%;
}

.story-para {
  padding: 25px;
}


/* Contact Page */

.contact-us-div {
  width: 80%;
  margin: 0 auto;
}

.contact-us-h3 {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.contact-para {
  padding: 14px;
 
}

fieldset {
  border: none;  
}

input, textarea {
  width: 100%;
  height: 2rem;
  margin: 10px 0 10px 0;
}

textarea {
  height: 4rem;
}


.send-button {
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.send-button:hover{
  color: white;
  background-color: rgb(237, 225, 207);
}


/* Footer */

.footer {
  background-color: rgb(237, 225, 207);
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  padding: 30px;

}

.footer-list{
  font-size: .7rem;
  list-style-type: none;
  padding-left: 5px;
  font-weight: 600;
}

.social-media-icons a{
  color: black;
  padding: .2rem;
  
}